# SSH Keys
*.pem
*.pub
keys/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json

# AWS Credentials
.aws/
credentials

# Environment Variables
set-env-vars.bat
.env

# Configuration files with sensitive data
terraform/config.json
terraform/scripts/aws_sso_helper/config.ini

# Logs
*.log

# OS
.DS_Store
Thumbs.db